{% extends 'base.html' %}

{% block content %}

<div class="auth-container">

    <div class="auth-card shadow animate__animated animate__fadeIn">

        <h2 class="text-center mb-4">
            Connexion
        </h2>

        <form method="POST">

            {% csrf_token %}

            <!-- Username -->
            <div class="mb-3">

                <label class="form-label">
                    Nom d'utilisateur
                </label>

                <input type="text"
                       name="username"
                       class="form-control"
                       placeholder="Entrez votre username">

            </div>

            <!-- Password -->
            <div class="mb-3">

                <label class="form-label">
                    Mot de passe
                </label>

                <input type="password"
                       name="password"
                       class="form-control"
                       placeholder="Entrez votre mot de passe">

            </div>

            <button class="btn btn-dark w-100">
                Se connecter
            </button>

        </form>

        <div class="text-center mt-3">

            <small>
                Pas encore de compte ?
                <a href="{% url 'register' %}">
                    S'inscrire
                </a>
            </small>

        </div>

    </div>

</div>

{% endblock %}