{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2>Mes achats</h2>

    <table class="table">

        <thead>

            <tr>

                <th>Véhicule</th>

                <th>Prix</th>

                <th>Statut</th>

            </tr>

        </thead>

        <tbody>

            {% for s in sales %}

            <tr>

                <td>
                    {{ s.vehicle }}
                </td>

                <td>
                    {{ s.prix_vente }} FCFA
                </td>

                <td>
                    {{ s.statut }}
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}