{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="card shadow p-4">

        <h2>
            Réserver :
            {{ vehicle.marque }}
            {{ vehicle.modele }}
        </h2>

        {% if form.errors %}

        <div class="alert alert-danger">

            {{ form.errors }}

        </div>

        {% endif %}

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-dark">

                Réserver

            </button>

            <a href="{% url 'vehicle_detail' vehicle.id %}"
                class="btn btn-outline-dark">

                Retour

            </a>
            
        </form>

    </div>

</div>

{% endblock %}