{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2 class="mb-4">

        Mes locations

    </h2>

    <table class="table table-striped">

        <thead>

            <tr>

                <th>Véhicule</th>

                <th>Date début</th>

                <th>Date fin</th>

                <th>Prix</th>

                <th>Statut</th>

            </tr>

        </thead>

        <tbody>

            {% for rental in rentals %}

            <tr>

                <td>
                    {{ rental.vehicle }}
                </td>

                <td>
                    {{ rental.date_debut }}
                </td>

                <td>
                    {{ rental.date_fin }}
                </td>

                <td>
                    {{ rental.prix_total }} FCFA
                </td>

                <td>
                    {{ rental.statut }}
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}