{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2 class="mb-4">

        Mes locations

    </h2>

    <table class="table table-striped">

        <thead>

            <tr>

                <th>Véhicule</th>

                <th>Date début</th>

                <th>Date fin</th>

                <th>Prix</th>

                <th>Statut</th>

                <th>Paiement</th>

            </tr>

        </thead>

        <tbody>

            {% for rental in rentals %}

            <tr>

                <td>
                    {{ rental.vehicle }}
                </td>

                <td>
                    {{ rental.date_debut }}
                </td>

                <td>
                    {{ rental.date_fin }}
                </td>

                <td>
                    {{ rental.prix_total }} FCFA
                </td>

                <td>

                    {% if rental.statut == 'VALIDEE' %}

                        <span class="badge bg-success">

                            Validée

                        </span>

                    {% elif rental.statut == 'EN_ATTENTE' %}

                        <span class="badge bg-warning">

                        En attente

                        </span>

                    {% elif rental.statut == 'REFUSEE' %}

                        <span class="badge bg-danger">

                            Refusée

                        </span>

                    {% else %}

                        <span class="badge bg-secondary">

                            Terminée

                        </span>

                    {% endif %}

                </td>

                <td>

                    <a href="{% url 'create_payment' rental.id %}" class="btn btn-sm btn-dark">

                        Payer

                    </a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}