{% extends 'base.html' %}

{% block content %}

<section class="hero d-flex align-items-center justify-content-center text-center text-white">
    
    <!-- Overlay -->
    <div class="overlay">{% include 'components/sidebar.html' %}</div>

    <!-- Contenu -->
    <div class="content animate__animated animate__fadeInUp">


        <h1 class="display-2 fw-bold">
             ParcAuto
        </h1>

        <p class="lead">
            Location & Vente de véhicules en toute simplicité
        </p>
        
        <a href="vehicles"
           class="btn btn-warning btn-lg shadow mt-3">

            Explorer les véhicules

        </a>

    </div>

</section>

{% endblock %}