<div class="col-md-2 bg-dark text-white min-vh-100 p-4">

    <h4 class="mb-4">🚗 Menu</h4>

    <ul class="nav flex-column">

        <!-- ADMIN -->
        {% if user_role == 'ADMIN' %}

            <li class="nav-item mb-2">
                <a class="nav-link text-white" href="{% url 'admin_dashboard' %}">
                    Dashboard Admin
                </a>
            </li>

        {% endif %}

        <!-- AGENT -->
        {% if user_role == 'AGENT' %}

            <li class="nav-item mb-2">
                <a class="nav-link text-white" href="{% url 'agent_dashboard' %}">
                    Dashboard Agent
                </a>
            </li>

            <li class="nav-item mb-2">
                <a class="nav-link text-white" href="{% url 'agent_create_rental' %}">
                    Location terrain
                </a>
            </li>

            <li class="nav-item mb-2">
                <a class="nav-link text-white" href="{% url 'agent_create_sale' %}">
                    Vente terrain
                </a>
            </li>

        {% endif %}

        <!-- CLIENT -->
        {% if user_role == 'CLIENT' %}

            <li class="nav-item mb-2">
                <a class="nav-link text-white" href="{% url 'my_rentals' %}">
                    Mes locations
                </a>
            </li>

            <li class="nav-item mb-2">
                <a class="nav-link text-white" href="{% url 'my_sales' %}">
                    Mes achats
                </a>
            </li>

        {% endif %}

    </ul>

</div>