{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2 class="mb-4">
        🚘 Liste des véhicules
    </h2>

    <!-- SEARCH & FILTERS -->
    <div class="card shadow border-0 p-4 mb-5">

        <form method="GET">

            <div class="row">

                <!-- SEARCH -->
                <div class="col-md-4 mb-3">

                    <input
                        type="text"
                        name="search"
                        class="form-control"
                        placeholder="Rechercher véhicule..."
                    >

                </div>

                <!-- TYPE -->
                <div class="col-md-3 mb-3">

                    <select
                        name="type"
                        class="form-select"
                    >

                        <option value="">
                            Tous les types
                        </option>

                        <option value="SUV">
                            SUV
                        </option>

                        <option value="BERLINE">
                            Berline
                        </option>

                        <option value="4X4">
                            4X4
                        </option>

                    </select>

                </div>

                <!-- STATUT -->
                <div class="col-md-3 mb-3">

                    <select
                        name="statut"
                        class="form-select"
                    >

                        <option value="">
                            Tous les statuts
                        </option>

                        <option value="DISPONIBLE">
                            Disponible
                        </option>

                        <option value="LOUE">
                            Loué
                        </option>

                        <option value="MAINTENANCE">
                            Maintenance
                        </option>

                    </select>

                </div>

                <!-- BUTTON -->
                <div class="col-md-2 mb-3">

                    <button class="btn btn-dark w-100">
                        Filtrer
                    </button>

                </div>

            </div>

        </form>

    </div>

    <div class="row">

        {% for vehicle in vehicles %}

            <div class="col-md-4 mb-4">

                <div class="card shadow border-0">

                    <!-- IMAGE -->
                    <img
                        src="{{ vehicle.image.url }}"
                        class="card-img-top"
                        style="height:200px; object-fit:cover;"
                    >

                    <div class="card-body">

                        <h5>
                            {{ vehicle.marque }} {{ vehicle.modele }}
                        </h5>

                        <p>
                            <b> Location : {{ vehicle.prix_location }} FCFA / jour </b> 
                        </p>

                        <p class="fw-bold text-success">
                            Vente : {{ vehicle.prix_vente }} FCFA
                        </p>

                        <!-- BADGE STATUT -->
                        <span class="badge bg-success">
                            {{ vehicle.statut }}
                        </span>

                        <div class="mt-3">

                            <a
                                href="{% url 'vehicle_detail' vehicle.id %}"
                                class="btn btn-sm btn-primary"
                            >
                                Voir
                            </a>

                            {% if vehicle.statut == 'DISPONIBLE' %}

                                <a
                                    href="{% url 'create_rental' vehicle.id %}"
                                    class="btn btn-sm btn-dark"
                                >
                                    Louer
                                </a>

                                <a
                                    href="{% url 'request_sale' vehicle.id %}"
                                    class="btn btn-sm btn-success"
                                >
                                {% if user_role == 'CLIENT' %}
                                    Acheter
    
                                {% elif user.groups.first.name == 'ADMIN' or user.groups.first.name == 'AGENT' %}
                                    Vendre
                                {% endif %}    
                                </a>

                            {% endif %}

                            {% if user.is_authenticated %}

                                {% if user.groups.first.name == 'ADMIN' or user.groups.first.name == 'AGENT' %}

                                    <a
                                        href="{% url 'update_vehicle' vehicle.id %}"
                                        class="btn btn-sm btn-warning"
                                    >
                                        Modifier
                                    </a>

                                    <a
                                        href="{% url 'delete_vehicle' vehicle.id %}"
                                        class="btn btn-sm btn-danger"
                                    >
                                        Supprimer
                                    </a>

                                {% endif %}

                            {% endif %}

                        </div>

                    </div>

                </div>

            </div>

        {% empty %}

            <div class="col-12">

                <div class="alert alert-warning text-center">
                    Aucun véhicule trouvé.
                </div>

            </div>

        {% endfor %}

    </div>

</div>

<!-- PAGINATION -->
<div class="d-flex justify-content-center mt-5">

    <nav>

        <ul class="pagination">

            {% if vehicles.has_previous %}

                <li class="page-item">

                    <a class="page-link"
                       href="?page={{ vehicles.previous_page_number }}">

                        Précédent

                    </a>

                </li>

            {% endif %}

            <li class="page-item active">

                <span class="page-link">

                    {{ vehicles.number }}

                </span>

            </li>

            {% if vehicles.has_next %}

                <li class="page-item">

                    <a class="page-link"
                       href="?page={{ vehicles.next_page_number }}">

                        Suivant

                    </a>

                </li>

            {% endif %}

        </ul>

    </nav>

</div>

{% endblock %}