{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="card shadow p-4">

        <div class="row">

            <div class="col-md-6">

                <img src="{{ vehicle.image.url }}"
                     class="img-fluid">

            </div>

            <div class="col-md-6">

                <h2>
                    {{ vehicle.marque }} {{ vehicle.modele }}
                </h2>

                <p>
                    {{ vehicle.description }}
                </p>

                <h4>
                    {{ vehicle.prix_location }} FCFA / jour
                </h4>
                <h5 class="text-success">
                    Prix vente : {{ vehicle.prix_vente }} FCFA
                </h5>

                <h5>
                    Statut : {{ vehicle.statut }}
                </h5>
                {% if vehicle.statut == 'DISPONIBLE' %}

                    <a
                        href="{% url 'create_rental' vehicle.id %}"
                        class="btn btn-dark mt-3"
                    >
                        Louer ce véhicule
                    </a>

                    <a
                        href="{% url 'request_sale' vehicle.id %}"
                        class="btn btn-success mt-3"
                    >
                        Acheter ce véhicule
                    </a>

                {% endif %}
            </div>

        </div>

    </div>

</div>

{% endblock %}